.promo {
        position: relative;
        
    &_descr {
        position: relative;
        z-index: 3;
        padding-top: 39px;
    }
    &_wrapper {
        margin-top: 134px;
    }
    &_title {
        font-size: 42px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 48px;
        text-align: left;
        color: $text-color;
    }
    &_subtitle {
        margin-top: 34px;
        font-size: 24px;
        font-weight: 300;
        font-style: normal;
        letter-spacing: normal;
        line-height: 30px;
        text-align: left;
        color: $text-color;
        span {
            font-weight: 400;
        }
    }
    button {
        margin-top: 34px;
    }
    &_phone {
        margin-top: 21px;
        width: 434px;
        height: 495px;
        img {
            width: 100%;
            height: 100%;
        }
    }
}
.menu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    &_link {
        font-size: 13px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        line-height: 26px;
        text-align: right;
        text-transform: uppercase;
        color: $text-color;
        text-decoration: none;
        &:hover {
            text-decoration: none;
            color: $active-color;
        }
    }
    &_item {
        padding: 0 22px 0 22px;
        &:first-child {
            padding: 0 22px 0 0;
        }
        &:last-child {
            padding: 0;
        }
    }
}


  